.example-form {
  min-width: 150px;
  max-width: 500px;
  width: 100%;
}
.cardBox{
margin-top: 4em;
}
.example-full-width {
  width: 100%;
}
mat-card,.test{
   min-width: 150px;
  max-width: 500px;
margin:auto;
}
mat-card{
  min-width:16em
}
example-icon {
  padding: 0 14px;
  
   position: absolute;
  right: 0px;
}
.filler{
  display:flex;
}
.example-spacer {
  flex: 1 1 auto;
}
.form-group{
  position: relative;
  float:right; 
}
